{% extends "base.html" %}

{% block content %}
<h1>Matchups</h1>

{% if date_range %}
	<h2>{{date_range}}</h2>
{% endif %}

{% if matchup_list %}
	<table>
		<tr>
			<th>Date</th>
			<th>Home team</th>
			<th>Home score</th>
			<th>Away team</th>
			<th>Away score</th>
		</tr>
		{% for matchup in matchup_list %}
		<tr>
			<td>{{matchup.date_time_string}}</td>
			<td>{{matchup.home_team}}</td>
			<td>
			{% if matchup.home_team_score >= 0 %}
				{{matchup.home_team_score}}
			{% endif %}
			</td>
			<td>{{matchup.away_team}}</td>
			<td>
			{% if matchup.away_team_score >= 0 %}
				{{matchup.away_team_score}}
			{% endif %}
			</td>
		</tr>
		{% endfor %}
	</table>
{% else %}
	<p>No matchups are available</p>
{% endif %}
{% endblock %}