{% extends "base.html" %}
{% load matchup_template_extras %}
{% block content %}
<div id="content_title">
<h1>Scoreboard <em>Week {{selected_week}} - {{week_date}}</em></h1>
</div>

<div id="scoreboard_table">
<table>
	<tr>
		<th>Team</th>
		<th>Pick</th>
		{% for week_number in current_week|get_range %}
		<th>Week {{week_number|add:"1"}}</th>
		{% endfor %}
	</tr>
	{% for row_set in row_sets %}
	<tr>
		<td rowspan="{{ row_set.rowspan }}">
		<div class="user_name"><h5{% if row_set.user_is_eliminated %} class="eliminated_user"{% endif %}>{{row_set.user_name}}</h5></div>
		</td>
		
		{% for table_row in row_set.pick_rows %}
			{% if table_row.letter_id != 'A' %}
				<tr>
			{% endif %}
			<td>
			<h5{% if table_row.pick_set_is_eliminated %} class="eliminated_set"{% endif %}>{{table_row.letter_id}}</h5>
			</td>
			{% for pick in table_row.pick_row_items %}
				{% if pick.is_unavailable %}
					<td class="eliminated_pick"></td>
				{% elif not pick.show_pick %}
					<td></td>
				{% else %}
					<td class="pick_cell">
					<div{% if pick.is_winning_pick %} class="winning_pick"{% endif %}>
					<img src="{{STATIC_URL}}{{pick.team_image_location}}"/>
					<p>{{pick.team_name}}</p>
					</div></td>
				{% endif %}
			{% endfor %} 
			</tr>
		{% endfor %}
	{% endfor %}
</table>
</div>
{% endblock %}