{% extends "base.html" %}
{% load matchup_template_extras %}
{% block content %}
<div id="content_title">
<h1>Scoreboard <em>Week {{selected_week}} - {{week_date}}</em></h1>
</div>

<div id="scoreboard_table">
<table>
	<tr>
		<th>Team</th>
		<th>Pick</th>
		{% for week_number in current_week|get_range %}
		<th>Week {{week_number|add:"1"}}</th>
		{% endfor %}
	</tr>
	{% for pick_set in pick_sets %}
	<tr>
		{% if pick_set.is_first_pick_set_for_user %}
		<td rowspan="{{ pick_set.total_number_of_pick_sets_for_user }}">
		<div class="user_name"><h5{% if pick_set.user_is_eliminated %} class="eliminated_user"{% endif %}>{{pick_set.user_display_name}}</h5></div>
		</td>
		{% endif %}
		<td>
		<h5{% if pick_set.is_eliminated %} class="eliminated_set"{% endif %}>{{pick_set.letter_id}}</h5>
		</td>
		</td>
		{% for pick in pick_set.pick_set.all %}
		{% if pick.pick_set.user != user and pick.week_number = selected_week and hide_other_team_picks_for_current_week and not is_admin %}
			<td></td>
		{% else %}
		<td class="pick_cell">
		<div class="team_icon">
		<img src="{{STATIC_URL}}{{pick.selected_team.image_location}}"/>
		<p>
		{{pick.selected_team}}
		</p>
		</div></td>
		{% endif %}
		{% endfor %}
		{% for week_num in current_week|subtract:pick_set.pick_set.count|get_range %}
		<td {%if pick_set.is_eliminated %} class="eliminated_pick"{% endif %}></td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>
</div>
{% endblock %}